.CommunitiesImages{
    height: 50px;
    width: 50px;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    cursor:pointer;
}
.btn-primary{
    color: #fff;
    background: #0054a6;
    padding: 8px;
    border-radius: 6px;
    width: 90px;
    float: right;
    display: block;
    float: right;
    margin-top: 30px;
    text-align:center;
}

.btn-primary:hover{
    background: #CBCBCB;
    color: #fff;
}

.custome-select {
    width: 100%;
    position: relative;
    height: 40px;
    line-height: 40px;
    text-align: left;
    display: inline-block;
    cursor: pointer;
    color: inherit;
    z-index: 20;
    margin-bottom: 16px;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 400;
}

.custome-select.width-40{
    width: 42%;
}

.custome-select span {
    width: 100%;
    display: block;
    height: 100%;
    overflow: hidden;
    color: #969696;
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.custome-select select {
    opacity: 0;
    z-index: 20;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    color: #000;
    -webkit-appearance:none;
}


.my-modal{
    background: rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    display: none;
}
.my-modal .close-modal{
    position: absolute;
    right: 25px;
    top: 15px;
    font-size: 22px;
    z-index: 99;
}
.my-modal .modal-inner{
    background: #fff;
    max-width: 780px;
    margin: 0 auto;
    margin-top: 73px;
    border-radius: 5px;
    padding: 15px;
    position: relative;
}


.location-modal #contact-map{
    height: 300px;
    margin-top: 25px;
}

.location-modal .location-modal h4{
    text-align: center;
    margin-top: 10px;
}

.location-modal .location-modal .btn-location-confirm{
    position: absolute;
    left: 25px;
    bottom: 25px;
    padding: 5px 10px;
    font-size: 14px;
}


.un-profile{
    padding: 30px;
    background: #f1f2f2;
}

.un-profile h4{
    font-size: 24px;
}

.un-profile .cover-images-wrapper figure{
    height: 360px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    position: relative;
    margin-top: 24px;
}

.un-profile .cover-images-wrapper figure figcaption{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1e1e1+0,e3e3e3+25,dcdcdc+50,cfcfcf+75,727271+100 */
background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 25%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.35) 75%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 25%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0.35) 75%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 25%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0.35) 75%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#727271',GradientType=0 ); /* IE6-9 */
}
.un-profile .cover-images-wrapper figure figcaption h4{
    color: #fff;
    position: absolute;
    left: 40px;
    bottom: 20px;
    text-transform:capitalize;
}

.profile-info-detail ul.tabs-custome{
    padding-left: 0;
    float: left;
    width: 20%;
    background: #eeefef;
    min-height: 400px;
}

.profile-info-detail ul.tabs-custome > li{
    display: block;
    position: relative;
    font-size: 16px;
}
.profile-info-detail ul.tabs-custome > li:after{
    position: absolute;
    content: "";
    right: -24px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18.5px 0 18.5px 24px;
    border-color: transparent transparent transparent #0053a6;
    display: none;
}

.profile-info-detail ul.tabs-custome > li a{
    display: block;
    color: #2d2d2d;
    padding: 6px 7px 7px 24px;
    background: #eeefef;
}

.profile-info-detail ul.tabs-custome > li:hover:after{
    display: block;
    border-color: transparent transparent transparent #CBCBCB;
}

.profile-info-detail ul.tabs-custome > li.active:after{
    display: block;    
    border-color: transparent transparent transparent #0054A6;
}

.profile-info-detail ul.tabs-custome > li.active>:hover:after{
    display: block;
    
}
.profile-info-detail ul.tabs-custome > li a:hover{
    background: #CBCBCB;
    color: #fff;
    text-decoration: none;
    outline: 0;
}




.profile-info-detail ul.tabs-custome > li.active a{
    background: #0054a6;
    color: #fff;
    text-decoration: none;
    outline: 0;
}


.profile-info-detail .tab-custome-panel{
    float: left;
    width: 80%;
    background: #fff;
    min-height: 400px;
}

.tab-custome-pane {
    display: none;
}
.tab-custome-pane.active{
    display: block;
}

.accorTrigger{
    display: none;
    color: #2d2d2d;
    font-size: 16px;
    padding: 10px 10px;
    display: none;
    margin-bottom: 3px;
    position: relative;
    background: #eee;
    overflow: hidden;
    margin: 10px;
}


.accorTrigger:hover{
    background: #2d2d2d;
    color: #fff;
    text-decoration: none;
}
.accorTrigger:focus{
    color: #2d2d2d;
    background: #eee;
    text-decoration: none;
    outline: none;
}

.accorContent{
    display: block;
}
.accorContent .accorTrigger{
    display: block;
}

.tab-custome-pane.opened .accorTrigger{
    color: #fff;
    background: #2d2d2d;
    outline: none;
}

.divide-unit .half-unit{
    float: left;
    width: 50%;
    padding: 15px 40px;
}
.divide-unit .half-unit:nth-child(2){
    padding-left:0;
}
.divide-unit .half-unit.style{
    width: 60%;
}

.divide-unit .half-unit header{
    position: relative;
}

.divide-unit .half-unit header.style1 > input {
    padding-bottom: 0;
    padding-top: 6px;
}

.divide-unit .half-unit header.style1 > input:focus{
    color: #575757;
    outline:none;
}

.divide-unit .half-unit header.style1 > input:focus .edit-btns{
    color: #575757;
}
.divide-unit .half-unit header.style1 > input:focus .edit-btns a{
    color: #575757;
}

.divide-unit .half-unit header.style1:after{
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #e4e4e4;
}

.divide-unit .half-unit h6{
    font-size: 16px;
    color: #2d2d2d;    
}

.divide-unit .half-unit header input{
    font-size: 16px;
    color: #ababab;    
    border: none;
}
.divide-unit .half-unit header input:focus{
    color: #575757;
    outline:none;
}
.divide-unit .half-unit header input:active{
    color: #575757;
    outline:none;
}
.divide-unit .half-unit header .edit-btns,
.divide-unit .half-unit .add-info .edit-btns{
    position: absolute;
    right: 10px;
    bottom: 15px;
    color: #e4e4e4;
    padding-top: 6px;
}

.divide-unit .half-unit .add-info .edit-btns a{
    color: #969696;
}

.divide-unit .half-unit header .edit-btns a{
    color: #e4e4e4;
}

.divide-unit .half-unit header .edit-btns a:hover{
    color: #575757;
}

.cover-upload{
    margin-top: 25px;
}
.cover-upload.style{
    margin-top: 40px;
}

.cover-upload h6{ 
    margin-bottom: 16px;
}

.divide-unit .half-unit .input-wrap {
    position: relative;
    display: inline-block;
    padding-right: 18px;
}

.divide-unit .half-unit .image-upload figure{
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.divide-unit .half-unit .image-upload.style1 figure, .image-upload.style1 input[type="file"]{
    height: 70px;
    width: 70px;
}

.divide-unit .half-unit .image-upload input[type="file"]{
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.divide-unit .half-unit .add-info{
    margin-top: 23px;
    position: relative;
}

.divide-unit .half-unit .add-info input{
    border: none;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    padding: 15px 0;
    font-size: 14px;
    color: #969696;
        padding-right: 75px;
}

.divide-unit .half-unit .add-info input:focus{
    color: #575757;
    outline:none;
}

.add-info h6{
    margin-top: 40px;
}

.add-info .custome-select{
    padding-right: 30px;
}

.add-info a.btn-primary.style{
    margin-top: 15px;
}

.divide-unit .half-unit .added-info{
    margin-top: 20px;
}

.added-info.added-info-scroll{
    height: 275px;
}

.added-info.added-info-scroll.added-emergency-contact{
    height: 213px;
}

.added-info .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical{
    right: -20px;
}
.divide-unit .half-unit .added-info .table{
    border:none;
}
.divide-unit .half-unit .added-info .table > thead > tr > td{
    padding-left: 0;
    color: #575757;
}

.divide-unit .half-unit .added-info .table td{
    padding-left: 0;
    color: #969696;
    text-align:left;
}

.added-info.style .table > thead > tr > th,
.added-info.style .table > tbody > tr > th,
.added-info.style .table > tfoot > tr > th,
.added-info.style .table > thead > tr > td,
.added-info.style .table > tbody > tr > td,
.added-info.style .table > tfoot > tr > td{
    padding: 16px 0 !important;
    text-align:left;
}

.divide-unit .half-unit .added-info .table .edit-btns{
    color: #969696;
    text-align: right;
    margin-right:30px;
}

.divide-unit .half-unit .added-info .table .name{
    display: block;
    color: #575757;
}

.divide-unit .half-unit .added-info .table .edit-btns a{
    color: #969696;
}
.divide-unit .half-unit .added-info .table .edit-btns a:hover{
    color: #2d2d2d;
}

.divide-unit .half-unit .add-info.style{
    margin-top: 30px;
}

.divide-unit .half-unit .add-info textarea{
    width: 100%;
    border-radius: 6px;
    padding: 15px;
    border: 2px solid #eee;
    height: 225px;
    font-size: 14px;
    resize: none;
}
  a[disabled="disabled"] {
        pointer-events: none;
    }
  /*==========================
    Community settings
===========================*/


.sub-community-modal{
    text-align: center;
}

.my-modal.sub-community-modal .modal-inner{
    height: 200px;
}

.sub-community-wrapper{
    margin: 20px 20px 50px;
    padding: 10px;
}

.sub-community-modal .custome-select{
    margin: 0 10px 70px;
}



.subAccorWrapper{
    margin-bottom: 10px;
}

.subAccorTrigger{
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #969696;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    margin: 0;
    border-bottom: 1px solid #d7d7d7;
}

.subAccorTrigger:after{
    position: absolute;
    right: 10px;
    top: 10px;
    content: "\f107";
    font-family:'FontAwesome';
    color: #969696;
    font-size: 22px;
}

.subAccorWrapper.active .subAccorTrigger:after{
    content: "\f106";
    color: #0053a6;
    
}

.subAccorWrapper .subAccorContent{
    display: none;
}

.subAccorWrapper.active .subAccorContent{
    display: block;
}

.subAccorWrapper.active .subAccorTrigger{
    color: #0053a6;
}

.subAccorTrigger:hover{
    text-decoration: none;
}
.subAccorTrigger:focus{
    text-decoration: none;
    outline: none;
    color: #969696;
    color: #
}

.btn-primary.addSubCommunityTrigger{
    margin-top: 20px;
}

.select-community{
    position: absolute;
    top: 20px;
    left: 0;
}

.select-community input{
    border: none;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    padding: 15px 0;
    font-size: 14px;
    color: #969696;
}

.select-community p{
    display: inline-block;
    margin-right: 10px;
}

.sub-community-modal input.add-community-name{
    border: none;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #e4e4e4;
    width: 100% !important;
    padding: 15px 0;
    font-size: 14px;
    color: #969696;
    float: left;
    margin-right: 5%;
}

.sub-community-modal .button-group{
    float: left;
    width: 35%;
}



.button-group button{
    margin-top: 20px;
    float: left;
    background: #fff;
    border: 0;
}

.button-group.clearfix.open {
    position: relative;
}

.button-group .dropdown-menu > li{
    text-align: left;
}




/*==========================
    Add Community 
===========================*/

.added-communities-scroll{
    height: 270px;
}

.added-community-wrap{
    position: relative;
    padding: 10px;
}

.added-community-wrap figure{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
}

.added-community-wrap figure img{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.added-community-wrap .community-details{
    padding-left: 80px;
}

.added-community-wrap .edit-btns{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    color: #969696;
}
.added-community-wrap .edit-btns a{
    color: #969696;
}


form.form-widget label.required::before{
    content: "*";
    position: absolute;
    left: 100%;
    top: -2px;
    color: #ff0024;
}

.custom-form-wid.check.disabled label{
    color: #eeeeee;
}
.custom-form-wid{
    padding-left:10px;
}

.custom-form-wid label{
    display: inline-block;
    position: relative;
    text-transform: capitalize;
    color: #888d93;
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 14px;
}
.custom-form-wid.check label{
    font-size: 14px;
    padding-left: 24px;
    padding-top:2px;
}
.custom-form-wid label:hover{
    cursor: pointer;
}
.custom-form-wid input[type=checkbox]:not(old),
.custom-form-wid input[type=radio   ]:not(old){
    width   : 13px;
    margin  : 0;
    padding : 0;
    opacity : 0;
    height: 0;
    position: absolute;
}
.customFieldWrap{
    position: relative;
}

form.form-widget .customFieldWrap label{
    margin-right: 30px;
}
form.form-widget .customFieldWrap label:before{
    left: 22px;
}
 

.custom-form-wid input[type=checkbox]:not(old) + label > i,
.custom-form-wid input[type=radio]:not(old) + label > i{
    width: 13px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    font-size: 8px;
    background: #fff;
    border: 1px solid #888d93;
    margin-right: 12px;
    position: relative;
    top: 1px;
    color:#007ee9;
    border-radius: 50%;
    text-align: center;
}


.custom-form-wid.disabled input[type=checkbox]:not(old) + label > i{
    border: 1px solid #d9dbe2;
    border-top: 2px solid #ebecf0;
    border-bottom: 2px solid #ebecf0;
}
.custom-form-wid input[type=checkbox]:not(old) + label > i{
    height: 16px;
    width: 15px;
    border-radius: 2px;
    border: 1px solid #888d93;
    border-top: 1px solid #888d93;
    border-bottom: 1px solid #888d93;
    position: absolute;
    left: 0;
    top: 3px;
}
.custom-form-wid input[type=checkbox]:not(old) + label > i:before{
    content: " ";
    font-size: 13px;
    height: 15px;
    left: -1px;
    position: absolute;
    top: 0;
    width: 15px;
}
.custom-form-wid input[type=checkbox]:not(old):checked + label > i:before{
    content:"\f00c";
}
.custom-form-wid input[type=radio]:not(old):checked + label > i{
    background:#007ee9;
}

/*============
Responsive
============*/

/* media query */
@media (max-width: 1340px) {
    .divide-unit .half-unit .added-info .table .edit-btns{
        margin-right:45px;
    }
}
@media (max-width: 1310px) {
    .profile-info-detail ul.tabs-custome > li a{
        padding-left:20px;
    }
}

@media (max-width: 1300px) {
    .profile-info-detail ul.tabs-custome > li{
        font-size:15px;
    }
    .profile-info-detail ul.tabs-custome > li::after{
        border-width: 18px 0 17.5px 24px;
    }
    .divide-unit .half-unit .added-info .table .edit-btns{
        margin-right:60px;
    }
}

@media (max-width: 1300px) {
    .profile-info-detail ul.tabs-custome > li{
        font-size:15px;
    }
    .profile-info-detail ul.tabs-custome > li::after{
        border-width: 18px 0 17.5px 24px;
    }
}

/* media query */
@media (max-width: 1199px){
    .divide-unit .half-unit h6{
        font-size: 15px;
    }
    .profile-info-detail ul.tabs-custome{
        width: 23%;
    }
    .profile-info-detail .tab-custome-panel{
        width: 77%;
    }
    .divide-unit .half-unit{
        padding: 15px 35px;
    }
    .profile-info-detail ul.tabs-custome > li{
        font-size:14px;
    }
    .profile-info-detail ul.tabs-custome > li::after{
        border-width: 16px 0 17.5px 24px;
    }
    .profile-info-detail ul.tabs-custome > li a {
        padding-left: 10px;
    }
}

/* media query */
@media (max-width: 1090px){
    .profile-info-detail ul.tabs-custome{
        width: 25%;
    }
    .profile-info-detail .tab-custome-panel{
        width: 75%;
    }
}

/* media query */
@media (max-width: 990px){
    .un-profile h4{
        font-size: 22px;
    }
    
    .divide-unit .half-unit{
        padding: 15px 30px;
    }
    .half-unit:first-child{
        padding-right: 10px;
    }
    .half-unit:last-child{
        padding-left: 10px;
    }
    .divide-unit .half-unit.style{
        width: 100%;
        padding: 15px 30px;
    }
    .accorTrigger{
        display: block;
    }
    .tab-custome-pane .accorContent{
        display: none;
        padding: 0;
    }
    .tab-custome-pane.opened .accorContent{
        display: block;
    }
    .tab-custome-pane{
        display: block;
    }
    .profile-info-detail .tabs-custome{
        display: none;
    }
    .profile-info-detail .tab-custome-panel{
        width: 100%;
    }
}

/* media query */
@media (max-width: 880px){
    

    .divide-unit .half-unit:nth-child(2) {
        padding-left: 30px;
    }
    .divide-unit .half-unit{
        width: 100%;
    }
    .half-unit:first-child{
        padding-right: 30px;
    }
    .half-unit:last-child{
        padding-left: 30px;
    }
    .profile-info-detail ul.tabs-custome > li{
        font-size: 14px;
    }
    .profile-info-detail ul.tabs-custome > li::after{
        border-width: 17.5px 0 16.5px 24px;
    }
    .profile-info-detail ul.tabs-custome > li a{
        padding: 6px 7px 7px 16px;
    }
}

/* media query */
@media (min-width: 768px){
    .tab-pane.active{
        display: block;
    }
    .tab-pane.active .accorContent{
        display: block;
    }
}

/* media query */
@media (max-width: 767px){
    .un-profile h4{
        font-size: 20px;
    }
    .un-profile .cover-images-wrapper figure{
        margin-top: 30px;
    }
    
    
    .divide-unit .half-unit .added-info{
        margin-bottom: 20px;
    }
    .divide-unit .half-unit .added-info.added-emergency-contact{
        margin-bottom: 0;
    }
}

/* media query */
@media (max-width: 600px){
    .un-profile .cover-images-wrapper figure{
        margin-top: 20px;
    }
    .un-profile .cover-images-wrapper figure figcaption h4{
        bottom: 10px;
        left: 28px;
    }
    .custome-select.width-40 {
        width: 49%;
    }
    .un-profile .cover-images-wrapper figure{
        height: 300px;
    }
    .un-profile h4{
        font-size: 18px;
    }
    .accorTrigger{
        font-size: 14px;
    }
}

/* media query */
@media (max-width: 480px){
    .divide-unit .half-unit .added-info .table td{
        font-size: 12px;
    }
    .btn-primary{
        width: 100%;
    }
    .un-profile .cover-images-wrapper figure{
        height: 225px;
    }
    .btn-primary.addSubCommunityTrigger{
        margin-top:60px;
        float:none;
    }
}
/* media query */
@media (max-width: 360px) {
    .select-community p{
        display:block;
    }
    .btn-primary.addSubCommunityTrigger{
        margin-top:90px;
    }
}